<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>{% block title %}{% endblock %} | Family Website</title>
<nav>
	<a class="home_button" href="{{ url_for('index') }}">Home</a>
	<a class="button" href="{{ url_for('family.view_family_tree') }}">Family Tree</a>
	<a class="button" href="{{ url_for('memoirs.view_memoirs') }}">Memoirs</a>
</nav>
<section class='content'>
	<header>
		{% block header %}{% endblock %}
	</header>
	{% for message in get_flashed_messages() %}
		<div class='flash'>{{ message }}</div>
	{% endfor %}
	{% block content %}{% endblock %}
</section>